:root {
    --color-sidebar: #0AF;
    --color-main: #EEE;
    --color-header: #FFF;
    --color-announce: #FFF;
    --color-trending: #FFF;
    --color-cards: #FFF;
}

html {
    box-sizing: border-box;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
}



.content {
    height: 100%;
    overflow: auto;

    display: grid;
    grid-template: 170px 5fr / 1fr 5fr; /* 170 -> size of header*/
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";

    min-height: 0;
}


/* #######################
   #######################
        Sidebar
   #######################
   ####################### */
.sidebar{
    grid-area: sidebar;

    background-color: var(--color-sidebar);
}

.sidebar-container{
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 10px;

}

.sidebar__title {
    /* border: 1px solid blue; */
    padding: 10px;
    font-size: 1.5em;

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.sidebar__menu{
    /* border: 1px solid blue; */
    padding: 20px;

    display: grid;
    grid-auto-rows: 30px;
}

.sidebar-menu__item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


.sidebar__configuration{
    /* border: 1px solid blue; */
    padding: 20px;

    display: grid;
    grid-auto-rows: 30px;
}

.sidebar-configuration__item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.sidebar__icon{
    width: 10px;
}

.sidebar-title__icon {
    width: 30px;
}

/* #######################
   #######################
        Header
   #######################        
   ####################### */
.header{
    grid-area: header;

    display: grid;
    grid-template-rows: 70px 100px;

    background-color: var(--color-header);
}

/*  /////
  ROW 1
    ///// */ 

.header__row1 {
    display: grid;

    grid-template-columns: /*spaced a way that the size corresponds to the name of the gridarea.*/ 
                          20px 40px        minmax(100px, 1000px) minmax(50px, 2000px)  40px  60px     150px;
    grid-template-areas: ".    searchicon  searchbar             .                     bell  profile  username";
    align-items: center;
}

.header-row1__icon {
    width: 20px;
}
.header-row1__icon--search{
    grid-area: searchicon;
}

.header-row1__icon--bell{
    grid-area: bell;
}

.header-row1__profile {
    border: 1px solid blueviolet;
    width: 50px; 
    border-radius: 50%;

    grid-area: profile;
}

.header__row1 input{
    width: auto;
    height: 33px;
    padding: 5px 20px;
    border-radius: 100px;

    grid-area: searchbar;
}

.header-row1__username {
    font-size: 1em;

    grid-area: username;
}

/*  //////////////
  ROW 2
    ////////////// */

.header__row2 {
    display: grid;
    grid-template-columns: /*spaced a way that the size corresponds to the name of the gridarea.*/ 
                          20px 100px         minmax(100px, 300px) minmax(100px, 1000px) minmax(110px, 150px) minmax(110px, 150px) minmax(110px, 150px) minmax(20px, 100px);
    grid-template-areas: ".    profile-image greetings            .                     button-new           button-upload        button-share         .";

    align-items: center;
}

.header-row2__profile {
    border: 1px solid blueviolet;
    width: 80px; 
    border-radius: 50%;

    grid-area: profile-image;
}
    
.header-row2__greet {
    grid-area: greetings;

    display: flex;
    flex-direction: column;

}
    
.header-greet__username {
    font-size: 1.7em;
    margin: 0;
}
    
.header-greet__hi-there {
    font-size: 0.8em;
    margin: 0;
    margin-bottom: 10px;
}
    
.header-row2__button {
    width: 100px;
    height: 33px;
    margin-right: 50px;
    border-radius: 20px;
}

.header-row2__button--new {
    grid-area: button-new;
}

.header-row2__button--upload {
    grid-area: button-upload;
}

.header-row2__button--share {
    grid-area: button-share;
}
    
/* #######################
   #######################
        Main Content
   #######################
   ####################### */
.main-content {
    padding: 20px;
    grid-area: main-content;

    display: grid;
    grid-template-columns: minmax(500px, 4fr) minmax(250px, 2fr);
    background-color: var(--color-main);
}

/*  //////////////
  Anouncement and treding
    ////////////// */

.main-content__announce-trending-conteiner{
    display: grid;
    grid-template-columns: 5fr 200fr 5fr;
    grid-template-rows: 20px minmax(300px, 1fr) 20px minmax(300px, 1fr) 20px;
    grid-template-areas:
    ". announce-title ."
    ". announce ."
    ". trending-title ."
    ". trending ."
    ". . .";
    gap: 10px;
}

.main-content__announce {
    grid-area: announce;

    display: flex;          
    flex-direction: column; 

    background-color: var(--color-announce);

    padding: 15px;
    border-radius: 10%;
}

.announce__title {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    grid-area: announce-title;
}

.announce__card{
    margin: 5px 10px;
    font-size: 1em;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.announce-card__section{

}

.line {
    margin: 10px;
    border: 1px solid #606060;
}
.announce-card-section__title {
    margin: 0;
}

.announce-card-section__text {
    margin: 0;
    margin-top: 5px;
}

.main-content__trending {
    grid-area: trending;

    display: flex;          
    flex-direction: column;

    background-color: var(--color-announce);

    padding: 15px;
    border-radius: 10%;
}

.trending__title {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-size: 1.3em;

    grid-area: trending-title;
}

.trending__card{
    margin: 5px 10px;
    font-size: 1em;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trending-card__section {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.trending-card-section__profile {
    border: 1px solid blueviolet;
    width: 50px; 
    height: 50px;
    border-radius: 50%;

    grid-area: profile;
}

.trending-card-section__nick{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nickreference {
    margin: 0;
}

.nickname {
    margin: 0;
}
/*  //////////////
  Projects
    ////////////// */

.main-content__projects{
    padding-right: 20px;

    display: grid;
    grid-template-rows: 10px 1fr;
    gap: 10px;

}

.main-content-projects__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.projects__cards {
    padding: 15px;
    border-radius: 20px;
    background-color: var(--color-cards);
}