html {
    box-sizing: border-box;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
}

.main-content, .sidebar, .header {
    border: 1px solid red;
}

.content {
    height: 100%;

    display: grid;
    grid-template: 170px 5fr / 1fr 5fr; /* 170 -> size of header*/
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}


/* #######################
        Sidebar
   ####################### */
.sidebar{
    grid-area: sidebar;

    /*I would rather do this with Flexbox because the content of the
    index menu can determine the size easily, and would be more easy
    to update, but for practice reasons i will use grid.*/
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 10px;
}

.sidebar__title {
    /* border: 1px solid blue; */
    padding: 10px;
    font-size: 1.5em;

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.sidebar__menu{
    /* border: 1px solid blue; */
    padding: 20px;

    display: grid;
    grid-auto-rows: 30px;
}

.sidebar-menu__item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


.sidebar__configuration{
    /* border: 1px solid blue; */
    padding: 20px;

    display: grid;
    grid-auto-rows: 30px;
}

.sidebar-configuration__item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.sidebar__icon{
    width: 10px;
}

.sidebar-title__icon {
    width: 30px;
}

/* #######################
        Header
   ####################### */
.header{
    grid-area: header;

    display: grid;
    grid-template-rows: 70px 100px;
}

.header__row {
    border: 1px solid blue;
}

/*  /////
  ROW 1
    ///// */ 

.header__row1 {
    display: grid;

    grid-template-columns: 20px 40px minmax(200px, 1000px) minmax(100px, 2000px) 40px 60px 150px;
    grid-template-areas: ". searchicon searchbar . bell profile username";
    align-items: center;
}

.header-row1__icon {
    width: 20px;
}
.header-row1__icon--search{
    grid-area: searchicon;
}

.header-row1__icon--bell{
    grid-area: bell;
}

.header-row1__profile {
    border: 1px solid blueviolet;
    width: 50px; 
    border-radius: 50%;

    grid-area: profile;
}

.header__row1 input{
    width: auto;
    height: 33px;
    padding: 5px 20px;
    border-radius: 100px;

    grid-area: searchbar;
}

.header-row1__username {
    font-size: 1em;

    grid-area: username;
}

/* #######################
        Main Content
   ####################### */
.main-content {
    grid-area: main-content;
}